body{
	display: flex;
	flex-direction: column;
}
header{
	margin: auto;
	background-color: rgb(213, 236, 183);
	border-radius: 14px;
}
.logo{
	font-size: large;
	font-size: 20px;
	text-decoration: none;
	color: rgb(76, 194, 76);
}
main{
	display: flex;
	flex: auto;
	flex-direction: row;
	background-color: rgb(32, 83, 32);
	border-radius: 25px;
}
article{
	flex: 2;
	overflow-y: auto;
}
aside{
	flex: 1;
	overflow-y: auto;
	background-color: rgb(125, 224, 219);
	border-radius: 18px;
}
